CMakeScripts/
Debug/
*.xcodeproj/
cmake_install.cmake
.DS_Store
CMakeFiles/
*~
*.sln
*.vcxproj
*.db
*.suo
*.sdf
Release/
.vs/
CMakeCache.txt
build
Conquest.ogg.rl1
instructions.txt
pic.jpg.rl1
rle.bmp.rl1
works.bmp
xkcd.bmp
logo.png
